.navigationDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 6rem;
    width: 100%;


    background: linear-gradient(94.8deg, rgba(255, 255, 255, .1) 46.13%, rgba(255, 255, 255, .4) 59.11%);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);

    color: steelblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

}

.logoDiv {
    display: flex;
    align-items: center
}

.searchBarDiv {
    display: flex;
    align-items: center
}

.searchbar {
    border: 2px solid skyblue;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    width: 22rem;
}

.searchbtn {
    border: 2px solid skyblue;
    padding: 0.5rem 0.5rem;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    width: 4rem;
    margin-left: 0.5rem;
}

.searchbtn:hover {
    background-color: aliceblue;
    color: black;
}

/* .searchbtn:disabled,
.searchbtn[disabled] {
    color: gray;
    background-color: gainsboro;

} */

.navIcon {
    font-size: 1.2rem;
}