.main {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.navigationDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 6rem;
    width: 100%;


    background: linear-gradient(94.8deg, rgba(255, 255, 255, .1) 46.13%, rgba(255, 255, 255, .4) 59.11%);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);

    color: steelblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

}

.logoDiv {
    display: flex;
    align-items: center
}

.searchBarDiv {
    display: flex;
    align-items: center
}

.searchbar {
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    width: 22rem;
}

.searchbtn {
    padding: 0.5rem 0.5rem;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    width: 4rem;
    margin-left: 0.5rem;
}

.searchbtn:hover {
    background-color: aliceblue;
    color: black;
}

.profileDetailsDiv {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center
}

.profileDetailsDiv>p {
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.2rem;
}

.contentAndFilterDiv {
    display: flex;
    flex-direction: row;
    padding-top: 7%;
    overflow: hidden;
}

.filterDiv {
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-right: 2px solid gray;

    position: fixed;
    top: 15%;
    left: 0;

}

.clearFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
    align-items: center;
}

.clearFilterBtn {
    padding: 0.1rem 0.1rem;
    background-color: steelblue;
    color: white;
    border-radius: 10px;
    width: 5rem;
    height: 2rem;

}

.clearFilterBtn:hover {
    background-color: aliceblue;
    color: black;
}

.price-range {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    grid-gap: 0.5rem;
    gap: 0.5rem;

}

.slider {
    width: 10rem;
}


.CheckBoxFilterDiv {
    display: flex;
    flex-direction: column;
}

.radioFilterDiv {
    display: flex;
    flex-direction: column;
}

.productsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1rem;
    margin-left: 20rem;
    top: 15%;
}

.productDiv {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 26rem;

    cursor: pointer;
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
}


.card-img {
    display: flex;
    justify-content: space-around;
}

.wishlist-icon {
    color: lightgray;
    position: absolute;
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    right: 1%;
    top: 1%;
}



.wishlist-icon-filled {
    color: lightgray;
    position: absolute;
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    right: 1%;
    top: 1%;
    color: red;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-title-rating {
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-rating p {
    display: flex;
    color: white;
    background-color: green;
    width: fit-content;
    justify-content: space-around;
    padding: 0rem 0.1rem 0rem 0.1rem;

}

.card-title>h4,
p {

    margin: 0;
}


.discountPercentage {
    color: green;
}

.addToCartBtn {
    display: flex;
    justify-content: flex-start;
    /* margin:  auto; */
    margin: 0.5rem 0.5rem;
}

.addToCart {
    padding: 0.5rem 0.5rem;
    background-color: steelblue;
    color: white;
    border-radius: 20px;
    width: 100%;

}

.addToCart:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}




@media screen and (max-width: 768px) {}